# Calculate Drawdown in Python

In [4]:
import pandas as pd
data= pd.read_csv('C:/Users/DELL/Desktop/Drawdown.csv')

In [5]:
data

           Date  PnL Points  Lot Size       Pnl
0    02-01-2015  140.176900        25   3504.40
1    06-01-2015  382.000000        25   9550.00
2    08-01-2015  -74.360000        25  -1859.00
3    09-01-2015  -74.256609        25  -1856.42
4    15-01-2015  -76.614800        25  -1915.37
..          ...         ...       ...       ...
568  13-05-2020  -78.914600        25  -1972.87
569  14-05-2020  -76.142980        25  -1903.57
570  18-05-2020  738.134500        25  18453.36
571  22-05-2020  -68.375169        25  -1709.38
572  27-05-2020  -71.391051        25  -1784.78

[573 rows x 4 columns]

In [16]:
data['cum_pnl']=data['Pnl'].cumsum()
initial_investment=150000
data['equity']=data['cum_pnl']+initial_investment
data['peak']=data['equity'].cummax()
data['drawdown']=((data['equity']-data['peak'])/data['peak'])*100
max_DD1=data['drawdown'].min()
max_DD1

-6.471929730766138

In [2]:
#drawdown option 1
initial_investment=150000
data['cum_pnl']=data['Pnl'].cumsum()
data['equity']=data['cum_pnl']+initial_investment
data['peak']=data['equity'].cummax()
data['drawdown']=((data['equity']-data['peak'])/data['peak'])*100
max_DD1=data['drawdown'].min()
print(max_DD1)

-6.471929730766138

In [3]:
#drawdown option 2
data['peak2']=data['equity'].rolling(window=len(data['equity']),min_periods=1).max()
data['drawdown2']=(data['equity']/data['peak2']-1)*100
max_DD2=data['drawdown2'].min()
print(max_DD2)

-6.471929730766135

In [17]:
data['cum_pnl']=data['Pnl'].cumsum()
initial_investment=150000
data['equity']=data['cum_pnl']+initial_investment

In [19]:
data['peak2']=data['equity'].rolling(window=len(data['equity']),min_periods=1).max()

In [21]:
data['drawdown2']=(data['equity']/data['peak2']-1)*100

In [23]:
max_DD2=data['drawdown2'].min()

In [24]:
print(max_DD2)

-6.471929730766135